
.Container , .MovableBox{
  border-radius: 10px;

  border: 1px solid #FA8334;
}

.Container {
  text-align: center;
  width: 80vw;
  height: 80vh;
  position: relative;
  top: 10vh;  
  box-sizing: border-box;
  background-color: #FFFD77;
  margin: auto;

}

.MovableBox {
  position: absolute;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background-color: #FFE882;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
 